body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #53abf3;
  color: #001f3f;
}
a {
  text-decoration: none;
  color: #001f3f;
}
.button {
  background: #53abf3;;
  box-shadow: 20px 20px 60px #3eb1df, -20px -20px 60px #82ebe8;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css')